table {
    background-color:lavender;
    border-collapse:separate;
    border-radius:10px;
}

thead {
    padding-bottom: 1.25rem !important;
    background-color: darkblue;
    color: white;
}

tbody tr {
    cursor: pointer;
}

td {
    padding-bottom: 1rem !important;
}

th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

td:first-child, th:first-child {
    border-left: none;
}

td:first-child span {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
    display: block;
}

.note span {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
    display: block;
}

.pill {
    display: table;
    text-align: center;
    margin: auto;
    border: none;
    padding: 5px 10px;
    border-radius: 16px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pill-High {
    background-color: red;
}
.pill-High:hover {
    background-color: rgb(248, 121, 121);
}
.pill-Medium {
    background-color: orange;
}
.pill-Medium:hover {
    background-color: rgb(250, 204, 118);
}
.pill-Low {
    background-color: green;
}
.pill-Low:hover {
    background-color: rgb(120, 250, 120);
}

.date {
    width: 100px;
}