h3{
    text-align: center;
    padding: 1rem;
    color: white;
}

body {
    background-color: black;
}

#buttonDiv {
    padding-bottom: 10px;
}

#createNewTicketButton {
    font-weight: bold;
    background-color: white;
    padding: 16px 32px;
    border: 2px solid darkblue;
    border-radius: 5px;
    transition-duration: 0.4s;
}

#createNewTicketButton:hover {
    background-color: darkblue;
    color: white
}